<div class="container">
  <h1>Music Ambient Player</h1>

  <!-- Genre Selection -->
  <div>
    <label for="genre-select">Select Genre:</label>
    <select id="genre-select" (change)="onGenreChange($event)">
      <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
    </select>
  </div>

  <!-- Media Display -->
  <div *ngIf="selectedGenre">
    <h2>{{ selectedGenre.name }}</h2>

    <!-- Background Image -->
    <div class="background-media" *ngIf="currentImage">
      <img [src]="getImageUrl(currentImage.file_path)" alt="Background Image">
    </div>
  </div>
</div>

<app-footer-play [selectedGenre]="selectedGenre"></app-footer-play>  <!-- Correctly bind the selectedGenre -->
